/* ===== 商品分類 ===== */

.category-nav{
    position:sticky;
    top:0;
    background:#fff;
    display:flex;
    overflow-x:auto;
    gap:10px;
    padding:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
    z-index:100;
}

.category-nav a{
    flex:none;
    text-decoration:none;
    color:#333;
    background:#f5f5f5;
    padding:10px 16px;
    border-radius:30px;
    font-weight:bold;
    white-space:nowrap;
}

.category-nav a:hover{
    background:#D4AF37;
    color:#fff;
}
/* ===== 浮動購物車 ===== */

.floating-cart{
    position:fixed;
    left:15px;
    bottom:15px;
    width:calc(100% - 30px);
    max-width:420px;

    background:#2b2b2b;
    color:#fff;

    border-radius:18px;

    box-shadow:0 8px 25px rgba(0,0,0,.3);

    padding:14px 18px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:9999;
}

.cart-left{
    display:flex;
    flex-direction:column;
    gap:4px;
}

.cart-count{
    font-size:14px;
    color:#ddd;
}

.cart-total{
    font-size:22px;
    font-weight:bold;
    color:#d4af37;
}

#checkout-btn{
    background:#d4af37;
    color:#222;

    border:none;

    padding:12px 18px;

    border-radius:12px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;
}

#checkout-btn:active{
    transform:scale(.96);
}

body{
    padding-bottom:110px;
}
.category-nav button{
    flex:none;
    border:none;
    background:#f5f5f5;
    color:#333;
    padding:10px 16px;
    border-radius:30px;
    font-weight:bold;
    white-space:nowrap;
    cursor:pointer;
    font-size:15px;
}

.category-nav button:hover{
    background:#D4AF37;
    color:#fff;
}

.cart-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 0;
    border-bottom:1px solid #eee;
}

.cart-control{
    display:flex;
    align-items:center;
    gap:10px;
}

.cart-control button{
    width:32px;
    height:32px;
    border:none;
    border-radius:50%;
    background:#D4AF37;
    color:#222;
    font-size:18px;
    font-weight:bold;
}
.delete-btn{
    background:#ff4d4f;
    color:#fff;
    border:none;
    border-radius:50%;
    width:32px;
    height:32px;
    cursor:pointer;
}